{% extends "base_table.html" %}

{% block extra_head %}
<style type="text/css" xmlns="http://www.w3.org/1999/html">
  pre { clear: right; }
  {% if not session.get('show') %}div#tableInfo { display: none; }{% endif %}
</style>
{% endblock %}

{% block extra_scripts %}
  <script type="text/javascript">

      $(function()
    {
    $(document).on('click', '.btn-add', function(e)
    {
        e.preventDefault();

        var controlForm = $('.controls form:first'),
            currentEntry = $(this).parents('.entry:first'),
            newEntry = $(currentEntry.clone()).appendTo(controlForm);

        newEntry.find('input').val('');
        controlForm.find('.entry:not(:last) .btn-add')
            .removeClass('btn-add').addClass('btn-remove')
            .removeClass('btn-success').addClass('btn-danger')
            .html('<span class="glyphicon glyphicon-minus">- Entfernen</span>');
    }).on('click', '.btn-remove', function(e)
    {
		$(this).parents('.entry:first').remove();

		e.preventDefault();
		return false;
	});
    });



    $(document).ready(function() {

	//here first get the contents of the div with name class copy-fields and add it to after "after-add-more" div class.
      $(".add-more").click(function(){
          var html = $(".copy-fields").html();
          $(".after-add-more").after(html);
      });
    //here it will remove the current value of the remove button which has been pressed
      $("body").on("click",".remove",function(){
          $(this).parents(".control-group").remove();
      });

    });
    $(function() {
      var tableInfo = $('div#tableInfo');
      $('a.sql-image').on('click', function(e) {
        e.preventDefault();
        var elem = $(this),
            imgUrl = elem.attr('href'),
            modalDiv = $('div#sql-image-modal');
        modalDiv.find('h5.modal-title').text(elem.text());
        modalDiv.find('.modal-body').empty().append(
          $('<img src="' + imgUrl + '" />'));
        modalDiv.modal({'keyboard': true});
      });
      $('a#toggleTableInfo').on('click', function(e) {
        var show = !tableInfo.is(':visible');
        e.preventDefault();
        tableInfo.toggle('slide');
        $.post('{{ url_for('set_table_definition_preference') }}', {'show': show}, function(resp) {
          console.log('preference logged, new value: ' + resp.show);
        });
      });
    });
  </script>
{% endblock %}

{% block query_tab_class %} active{% endblock %}

{% block inner_content %}
  <h3>
    <p class="float-right">
      <a class="btn btn-primary btn-xs" href="#" id="toggleTableInfo">+/- Tabellendefinition</a>
    </p>
    Datenabfrage
  </h3>
  <div id="tableInfo">
    {{ table_sql|format_create_table|highlight }}
  </div>

    {# Test the dynamically add form field container. #}
    <div class="container">
	<div class="row">
        <div class="control-group" id="fields">
            <div class="controls">
                <form class="form-inline" action="." method="post" role="form" autocomplete="off">
                    <div class="entry form-group {% if error %} has-error has-feedback{% endif %} col-xs-3">

                       {#  <input class="form-control" name="fields[]" type="text" placeholder="Type something" /> #}
                        <label for="field_var_select1" class="sr-only">Feld</label>
                        <select class="form-control typeahead-select" name="field_var_select[]" id="field_var_select1" >
                            {% for column in columns %}
                            <option>{{ column }}</option>
                          {% endfor %}
                        </select>
                        {% if error %}
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <span class="help-block">{{ error }}</span>
                        {% endif %}

                         <label for="operatorselect" class="sr-only">Operator</label>
                         <select class="form-control" name="operator_select[]" id="operatorselect">
                             {% for operator in query_operators %}
                            <option value="{{ operator }}">{{ operator }}</option>
                            {% endfor %}
                         </select>

                        <input type="text" class="form-control" name="value_entry[]"  placeholder="Werteingabe">

                        <label for="andorselect" class="sr-only">AndOr</label>
                        <select class="form-control" name="and_or_select[]" id="andorselect" >
                        <option value=""></option>
                        <option value="AND">UND</option>
                        <option value="OR">ODER</option>
                        </select>


                    	<span class="input-group-btn">
                            <button class="btn btn-success btn-add" type="button">
                                <span class="glyphicon glyphicon-plus">+ Neu</span>
                            </button>
                        </span>
                    </div>
                   <div><span> <button class="btn btn-primary" value="abfrage" type="submit">Abfrage</button>
                         <button class="btn btn-secondary" name="export_json" type="submit">JSON Export</button>
                       <button class="btn btn-secondary" name="export_csv" type="submit">CSV Export</button>
                   </span></div>
                </form>
            <br>
            </div>
            {# SUBMIT BUTTON #}

            {#<div class="input-group-append">
             <button type="submit" class="btn btn-outline-primary">
             </button>
            </div>#}
        </div>
	</div>
    </div>

{#  TODO: This is the form to compile the query. a dynamic button-based query construction is neede here#}
{#  <form action="." method="post" role="form">
    <div class="form-group{% if error %} has-error has-feedback{% endif %}">
      <textarea class="form-control" name="sql" style="height: 120px;">{% if sql %}{{ sql }}{% endif %}</textarea>
      {% if error %}
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        <span class="help-block">{{ error }}</span>
      {% endif %}
    </div>
    <button class="btn btn-primary" type="submit">Ausführen</button>
    <button class="btn btn-secondary" name="export_json" type="submit">JSON Export</button>
    <button class="btn btn-secondary" name="export_csv" type="submit">CSV Export</button>
    <div class="btn-group">
      <div class="dropdown">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">SQL Hilfe</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for column in query_images %}
            <a class="dropdown-item sql-image" href="{{ url_for('static', filename=img_url) }}">{{ ' : '.join(parts) }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </form>
    <hr/>#}
  {#  <form class="input">
    <div>
    <select class="form-control" name="querynumber1">
        {% for number in range(select_query_el_number) %}
        <option>{{ number }}</option>
        {% endfor %}
    </select>
     <button class="btn btn-primary" type="submit" value="querynumber">Auswahl</button>
    </div>
    </form>#}


  {#  <form class="form-inline" action="." method="post" role="form"> #}

    {#    {% for query_element in query_element_number %}#}
   {#  <div class="form-group mb-2 {% if error %} has-error has-feedback{% endif %}" >
        <label for="fieldvarselect1" class="sr-only">Feld</label>
        <select class="form-control typeahead-select" name="fielvarselect" id="fieldvarselect1">
            {% for column in columns %}
            <option>{{ column }}</option>
          {% endfor %}
        </select>
        {% if error %}
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        <span class="help-block">{{ error }}</span>
        {% endif %}
        <label for="operatorselect1" class="sr-only">Operator</label>
        <select class="form-control" name="operatorselect" id="operatorselect1">
            {% for operator in query_operators %}
            <option>{{ operator }}</option>
          {% endfor %}
        </select>
        <label for="valueentry1" class="sr-only">Wert</label>
        <input type="text" class="form-control" name="value_entry" id="valueentry1" placeholder="Werteingabe">
        <label for="andorselect1" class="sr-only">AndOr</label>
        <select class="form-control" name="andorselect" id="andorselect1">
            <option></option>
            <option>AND</option>
            <option>OR</option>
        </select>
        </div> #}
    {# 2nd Input Query Element #}
     {#<div class="form-group mb-2 {% if error %} has-error has-feedback{% endif %}" >
        <label for="fieldvarselect2" class="sr-only">Feld</label>
        <select class="form-control typeahead-select" name="fielvarselect1" id="fieldvarselect2">
            {% for column in columns %}
            <option>{{ column }}</option>
          {% endfor %}
        </select>
        {% if error %}
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        <span class="help-block">{{ error }}</span>
        {% endif %}
        <label for="operatorselect2" class="sr-only">Operator</label>
        <select class="form-control" name="operatorselect1" id="operatorselect1">
            {% for operator in query_operators %}
            <option>{{ operator }}</option>
          {% endfor %}
        </select>
        <label for="valueentry2" class="sr-only">Wert</label>
        <input type="text" class="form-control" name="value_entry1" id="valueentry2" placeholder="Werteingabe">
        <label for="andorselect2" class="sr-only">AndOr</label>
        <select class="form-control" name="andorselect1" id="andorselect2">
            <option></option>
            <option>AND</option>
            <option>OR</option>
        </select>
        </div>#}
{#        {% endfor %}#}
    {# SUBMIT BUTTON #}
      {#  <button class="btn btn-primary" value="abfrage" type="submit">Abfrage</button>#}

         {#<div class="input-group-append">
             <button type="submit" class="btn btn-outline-primary">
                 <i class="fa fa-search">Abfragen</i>
             </button>
         </div>#}
   {# </form> #}
{#  Neuer Button fuer Query Konstruktion#}
  {#
  <form>
  <div class="btn-group">
      <div class="dropdown">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">Feld</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for column in columns %}
            <a class="dropdown-item sql-image" href="">{{ column }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="dropdown">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">Operator</button>
       <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for query_operator in query_operators %}
            <a class="dropdown-item" href="">{{ query_operator }}</a>
          {% endfor %}
      </div>
    </div>
    </div>
  </form>#}
  <hr />
    {# Print the SQL for development  #}
    <p>
    <div>SQL-Ausdruck: {{ sql }}</div>
    </p>
  {% if row_count is not none and row_count >= 0 %}
    <p>Modifizierte Zeilen: <code>{{ row_count }}</code></p>
  {% endif %}
{#Rendering result table of the query:#}
  {% if data_description %}
    {% if not data %}
      <p>Empty result set.</p>
    {% else %}
      <a class="float-right" href="{{ url_for('table_query', table=table, sql=sql) }}">Permalink</a>
      <h3>
        Ergebniszahl ({{ data|length }})
      </h3>
      <table class="table table-striped">
        <thead>
          <tr>
            {% for col_desc in data_description %}
              <th>{{ col_desc[0] }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in data %}
            <tr>
              {% for value in row %}
                <td>
                  {% if value is none %}NULL{% else %}{{ value }}{% endif %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  {% endif %}
  <div class="modal fade" id="sql-image-modal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}