{% extends "base_table.html" %}

{% block extra_head %}
<style type="text/css" xmlns="http://www.w3.org/1999/html">
  pre { clear: right; }
  {% if not session.get('show') %}div#tableInfo { display: none; }{% endif %}
</style>
{% endblock %}

{% block extra_scripts %}
  <script type="text/javascript">

      $(function()
    {
    $(document).on('click', '.btn-add', function(e)
    {
        e.preventDefault();

        var controlForm = $('.controls form:first'),
            currentEntry = $(this).parents('.entry:first'),
            newEntry = $(currentEntry.clone()).appendTo(controlForm);

        newEntry.find('input').val('');
        controlForm.find('.entry:not(:last) .btn-add')
            .removeClass('btn-add').addClass('btn-remove')
            .removeClass('btn-success').addClass('btn-danger')
            .html('<span aria-hidden="true">&times;</span>');
    }).on('click', '.btn-remove', function(e)
    {
		$(this).parents('.entry:first').remove();

		e.preventDefault();
		return false;
	});
    });

    $(document).ready(function() {

	//here first get the contents of the div with name class copy-fields and add it to after "after-add-more" div class.
      $(".add-more").click(function(){
          var html = $(".copy-fields").html();
          $(".after-add-more").after(html);
      });
    //here it will remove the current value of the remove button which has been pressed
      $("body").on("click",".remove",function(){
          $(this).parents(".control-group").remove();
      });

    });
    $(function() {
      var tableInfo = $('div#tableInfo');
      $('a.sql-image').on('click', function(e) {
        e.preventDefault();
        var elem = $(this),
            imgUrl = elem.attr('href'),
            modalDiv = $('div#sql-image-modal');
        modalDiv.find('h5.modal-title').text(elem.text());
        modalDiv.find('.modal-body').empty().append(
          $('<img src="' + imgUrl + '" />'));
        modalDiv.modal({'keyboard': true});
      });
      $('a#toggleTableInfo').on('click', function(e) {
        var show = !tableInfo.is(':visible');
        e.preventDefault();
        tableInfo.toggle('slide');
        $.post('{{ url_for('set_table_definition_preference') }}', {'show': show}, function(resp) {
          console.log('preference logged, new value: ' + resp.show);
        });
      });
    });
  </script>
{% endblock %}

{% block query_tab_class %} active{% endblock %}

{% block inner_content %}
  <h3>
    <p class="float-right">
      <a class="btn btn-primary btn-xs" href="#" id="toggleTableInfo">+/- Tabellendefinition</a>
    </p>
    Datenabfrage
  </h3>
  <div id="tableInfo">
    {{ table_sql|format_create_table|highlight }}
  </div>

    {# Test the dynamically add form field container. #}
    <div class="container">
	<div class="row">
        <div class="control-group" id="fields">
            <div class="controls">
                <form class="form-inline" action="." method="post" role="form" id="queryform" autocomplete="off">
                    <div class="entry form-group{#{% if error %} has-error has-feedback{% endif %}#} col-xs-3">

                       {#  <input class="form-control" name="fields[]" type="text" placeholder="Type something" /> #}
                        <label for="field_var_select1" class="sr-only">Spalte</label>
                        <select class="form-control typeahead-select" name="field_var_select[]" id="field_var_select1" >
                            <option class="bg-secondary" value="" selected disabled>Spalte</option>
                            {% for column in columns|sort %}
                            <option>{{ column }}</option>
                          {% endfor %}
                        </select>
                        {#{% if error %}
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <span class="help-block">{{ error }}</span>
                        {% endif %}#}

                         <label for="operatorselect" class="sr-only">Operator</label>
                         <select class="form-control" name="operator_select[]" id="operatorselect">
                            <option class="bg-secondary" value="" selected disabled>Operator</option>
                             {% for operator in query_operators %}
                            <option value="{{ operator }}">{{ operator }}</option>
                            {% endfor %}
                         </select>

                        <input type="text" class="form-control" name="value_entry[]"  placeholder="Werteingabe">

                        <label for="andorselect" class="sr-only">AndOr</label>
                        <select class="form-control" name="and_or_select[]" id="andorselect">
                            <option class="bg-secondary" value="" selected disabled>Verknüpfung</option>
                            <option value=""></option>
                            <option value="AND">UND</option>
                            <option value="OR">ODER</option>
                        </select>

                        <label for="parenthesis" class="sr-only">AndOr</label>
                        <select class="form-control" name="parenthesis[]" id="parenthesis">
                            <option class="bg-secondary" value="" selected disabled>Klammer</option>
                            <option value=""></option>
                            <option value="("> ( </option>
                            <option value=")"> ) </option>
                        </select>


                    	<span class="input-group-btn">
                            <button class="btn btn-success btn-add" type="button">
                                <span class="aria-hidden">&plus;</span>
                            </button>
                        </span>
                    </div>

                </form>
            <br>
            </div>
            {# SUBMIT BUTTON #}
                <div><span> <button class="btn btn-primary" form="queryform" value="abfrage" type="submit">Abfrage</button>

                       <button class="btn btn-secondary" form="queryform" name="export_csv" type="submit">CSV Export</button>
                   </span></div>
                {% if error %}
                <div class="alert alert-danger" role="alert">
                <strong>Fehler: </strong> {{ error }}
                </div>
                {% endif %}
            {#<div class="input-group-append">
             <button type="submit" class="btn btn-outline-primary">
             </button>
            </div>#}
        </div>
	</div>
    </div>


  <hr />
    {# Print the SQL for development  #}

    <div class="p-3 mb-2 bg-info text-white">SQL-Ausdruck: {{ sql }}</div>

  {% if row_count is not none and row_count >= 0 %}
    <p>Modifizierte Zeilen: <code>{{ row_count }}</code></p>
  {% endif %}
{#Rendering result table of the query:#}
  {% if data_description %}
    {% if not data %}
      <p>Empty result set.</p>
    {% else %}
      <a class="float-right" href="{{ url_for('table_query', table=table, sql=sql) }}">Permalink</a>
      <h3>
        Ergebniszahl ({{ data|length }})
      </h3>
      <table class="table table-striped">
        <thead class="sticky-top">
          <tr>
            {% for col_desc in data_description %}
              <th>{{ col_desc[0] }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in data %}
            <tr>
              {% for value in row %}
                <td>
                  {% if value is none %}NULL{% else %}{{ value }}{% endif %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  {% endif %}
  <div class="modal fade" id="sql-image-modal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
